.page{
  padding: 16px;
}


.title{
  margin: 0;
  text-align: center;
}

.grids-container {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1px 1fr;
}

.grids-divider {
  background: #ccc;
  width: 1px;
}